[Unit]
Description=Lustre TSM File Storage Queue Daemon
Documentation=man:ltsmfsq(1)

[Service]
EnvironmentFile=-/etc/default/ltsmfsq
ExecStart=/usr/sbin/ltsmfsq $LTSMFSQ_OPTS

[Install]
WantedBy=multi-user.target
