#!/usr/bin/make -f
DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@ --with systemd

override_dh_auto_configure:
	dh_auto_configure -- --with-lustre-src=/home/tstibor/dev/lustre/lustre-release

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_installinit:
	dh_installinit -p ltsm --name=lhsmtool_tsm
	dh_installinit -p ltsm --name=ltsmfsd
